<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multiplicaciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Multiplicaciones.Properties.Settings>
            <setting name="BackgroundMusic" serializeAs="String">
                <value>tolrato-largooo.wav</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Haz 25 multiplicaciones para ganar!</value>
            </setting>
        </Multiplicaciones.Properties.Settings>
    </userSettings>
</configuration>